@font-face {
    font-family: 'ghanachoco';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/ghanachoco.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
}

.wrap_m{
    width: 100%;
    height: 100%;
    background-color: #171A21;
}

.alignnnn_m{
    width: 374px;
    height: 1904px;
    margin: 0 auto;
}

.main_m{
    width: 374px;
    height: 443px;
}





header{
    padding-top: 60px;
    box-sizing: border-box;
}

.menu img{
    position: absolute;
    z-index: 5;
    right: 7%;
}

header > .nav_menu{
    position: relative;
    display: none;
}

.nav_menu{
    z-index: 4;
}

.nav_menu img{
    width: 430px;
    height: 100px;
}

header > .nav_menu.active{
    display: flex;
}




.introduce_m{
    width: 374px;
    height: 1401px;
}














/* ------------------보리미노-------------------- */


.wrap1{
    width: 100%;
    height: 100%;
}

.alignnnn1{
    margin-left: 7%;
    width: 374px;
    height: 2646px;
    position: absolute;
}

.narugoto{
    width: 374px;
    height: 1780px;
    margin-top: 800px;
}

.imaaaa{
    width: 100%;
    height: 688px;
    position: absolute;
    top: 2646px;
}

.footer_m{
    position: relative;
    z-index: 4;
    top: 3283px;
    width: 100%;
    height: 130px;
    background-color: #171A21;
    
}

.fm_align{
    width: 374px;
    height: 130px;
    margin: 0 auto;
    display: flex;
}












/* -------------------MBTI  판다------------------ */

.wrap2{
    width: 100%;
    height: 100%;
}

.alignnnn2{
    margin-left: 7%;
    width: 374px;
    height: 1010px;
    position: absolute;
}








/* 슬라이드 시작 */



.section input[id*="slide"]{
    display: none;
}

.section{
    width: 100%;
    height: 300px;
    position: absolute;
    top: 1100px;
    background-color: #92BACB;
}

.section [id="slide01"]:checked ~ .slidewrap .slidelist > li {transform: translateX(0%);} 
.section [id="slide02"]:checked ~ .slidewrap .slidelist > li {transform: translateX(-100%);} 
.section [id="slide03"]:checked ~ .slidewrap .slidelist > li {transform: translateX(-200%);} 
.section [id="slide04"]:checked ~ .slidewrap .slidelist > li {transform: translateX(-300%);} 

.section .slidewrap{
    max-width: 1000px;
    padding-top: 25px;
    margin: 0 auto;
    overflow: hidden;
}

.section .slidelist{
    font-size: 0;
    white-space: nowrap;
}

.section .slidelist > li{
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    transition: all .5s;
}

.section .slidelist > li > a{
    display: block;
    position: relative;
}

.section .slidelist > li > a img{
    
}

.section .slidelist label{
    position: absolute;
    z-index: 10;
    top: 50%;
    transform: translateY(-50%);
    padding: 50px;
    cursor: pointer;
}

.section .slidelist .left{
    left: 0;
    background: url('./img/left.png') center center / 20% no-repeat;
}

.section .slidelist .right{
    right: 0;
    background: url('./img/right.png') center center / 20% no-repeat;
}








/* 2 */

.section2 input[id*="slide"]{
    display: none;
}

.section2{
    width: 100%;
    height: 300px;
    position: absolute;
    top: 1400px;
    background-color: #AD98BA;
}

.section2 [id="slide01_2"]:checked ~ .slidewrap2 .slidelist2 > li {transform: translateX(0%);} 
.section2 [id="slide02_2"]:checked ~ .slidewrap2 .slidelist2 > li {transform: translateX(-100%);} 
.section2 [id="slide03_2"]:checked ~ .slidewrap2 .slidelist2 > li {transform: translateX(-200%);} 
.section2 [id="slide04_2"]:checked ~ .slidewrap2 .slidelist2 > li {transform: translateX(-300%);} 

.section2 .slidewrap2{
    max-width: 1000px;
    padding-top: 25px;
    margin: 0 auto;
    overflow: hidden;
}

.section2 .slidelist2{
    font-size: 0;
    white-space: nowrap;
}

.section2 .slidelist2 > li{
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    transition: all .5s;
}

.section2 .slidelist2 > li > a{
    display: block;
    position: relative;
}

.section2 .slidelist2 > li > a img{
    
}

.section2 .slidelist2 label{
    position: absolute;
    z-index: 10;
    top: 50%;
    transform: translateY(-50%);
    padding: 50px;
    cursor: pointer;
}

.section2 .slidelist2 .left{
    left: 0;
    background: url('./img/left.png') center center / 20% no-repeat;
}

.section2 .slidelist2 .right{
    right: 0;
    background: url('./img/right.png') center center / 20% no-repeat;
}





/* 3 */

.section3 input[id*="slide"]{
    display: none;
}

.section3{
    width: 100%;
    height: 300px;
    position: absolute;
    top: 1700px;
    background-color: #90C2A6;
}

.section3 [id="slide01_3"]:checked ~ .slidewrap3 .slidelist3 > li {transform: translateX(0%);} 
.section3 [id="slide02_3"]:checked ~ .slidewrap3 .slidelist3 > li {transform: translateX(-100%);} 
.section3 [id="slide03_3"]:checked ~ .slidewrap3 .slidelist3 > li {transform: translateX(-200%);} 
.section3 [id="slide04_3"]:checked ~ .slidewrap3 .slidelist3 > li {transform: translateX(-300%);} 

.section3 .slidewrap3{
    max-width: 1000px;
    padding-top: 25px;
    margin: 0 auto;
    overflow: hidden;
}

.section3 .slidelist3{
    font-size: 0;
    white-space: nowrap;
}

.section3 .slidelist3 > li{
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    transition: all .5s;
}

.section3 .slidelist3 > li > a{
    display: block;
    position: relative;
}

.section3 .slidelist3 > li > a img{
    
}

.section3 .slidelist3 label{
    position: absolute;
    z-index: 10;
    top: 50%;
    transform: translateY(-50%);
    padding: 50px;
    cursor: pointer;
}

.section3 .slidelist3 .left{
    left: 0;
    background: url('./img/left.png') center center / 20% no-repeat;
}

.section3 .slidelist3 .right{
    right: 0;
    background: url('./img/right.png') center center / 20% no-repeat;
}





/* 4 */

.section4 input[id*="slide"]{
    display: none;
}

.section4{
    width: 100%;
    height: 300px;
    position: absolute;
    top: 2000px;
    background-color: #E8CB8D;
}

.section4 [id="slide01_4"]:checked ~ .slidewrap4 .slidelist4 > li {transform: translateX(0%);} 
.section4 [id="slide02_4"]:checked ~ .slidewrap4 .slidelist4 > li {transform: translateX(-100%);} 
.section4 [id="slide03_4"]:checked ~ .slidewrap4 .slidelist4 > li {transform: translateX(-200%);} 
.section4 [id="slide04_4"]:checked ~ .slidewrap4 .slidelist4 > li {transform: translateX(-300%);} 

.section4 .slidewrap4{
    max-width: 1000px;
    padding-top: 25px;
    margin: 0 auto;
    overflow: hidden;
}

.section4 .slidelist4{
    font-size: 0;
    white-space: nowrap;
}

.section4 .slidelist4 > li{
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    transition: all .5s;
}

.section4 .slidelist4 > li > a{
    display: block;
    position: relative;
}

.section4 .slidelist4 > li > a img{
    
}

.section4 .slidelist4 label{
    position: absolute;
    z-index: 10;
    top: 50%;
    transform: translateY(-50%);
    padding: 50px;
    cursor: pointer;
}

.section4 .slidelist4 .left{
    left: 0;
    background: url('./img/left.png') center center / 20% no-repeat;
}

.section4 .slidelist4 .right{
    right: 0;
    background: url('./img/right.png') center center / 20% no-repeat;
}


/* 슬라이더 끝 */









.goods{
    width: 100%;
    height: 620px;
    position: absolute;
    top: 2400px;
}

.goodsaliiii{
    width: 374px;
    height: 620px;
    margin: 0 auto;
}

.footer2_m{
    position: relative;
    z-index: 4;
    top: 3000px;
    width: 100%;
    height: 130px;
    background-color: #171A21;
    
}

.fm_align2{
    width: 374px;
    height: 130px;
    margin: 0 auto;
    display: flex;
}










/* -------------------가나초콜릿------------------ */

.wrap3{
    width: 100%;
    height: 100%;
}

.alignnnn3{
    margin-left: 7%;
    width: 374px;
    height: 3771px;
    position: absolute;
}

.footer3_m{
    position: relative;
    z-index: 4;
    top: 4705px;
    width: 100%;
    height: 130px;
    background-color: #171A21;
    
}

.fm_align3{
    width: 374px;
    height: 130px;
    margin: 0 auto;
    display: flex;
}












/* ----------------소유문구 캐릭터---------------- */

.wrap4{
    width: 100%;
    height: 100%;
}

.alignnnn4{
    margin-left: 7%;
    width: 374px;
    height: 2738px;
    position: absolute;
}

.bi{
    width: 100%;
    height: 880px;
    background-color: #171A21;
    position: absolute;
    top: 2800px;
}

.bi_con{
    width: 374px;
    height: 880px;
    position: relative;
    left: 7%;
}

.footer4_m{
    position: relative;
    z-index: 4;
    top: 4100px;
    width: 100%;
    height: 130px;
    background-color: #171A21;
    
}

.fm_align4{
    width: 374px;
    height: 130px;
    margin: 0 auto;
    display: flex;
}


